/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




/* My code */

.nav-wrapper {
	width: 100%;
	height: 80px;
	margin: 20px auto 10px auto;
	background-color: gray;
	clear: none;
	overflow: hidden;
}

.logo-box {
	width: 200px;
	height: 80px;
	margin: 0px 20px;
	float: left;
	background-color: #fff;
}

nav ul {
	float: right;
	margin: 0px 20px;
}

nav ul li {
	display: block;
	float: left;
	margin: 30px 0px;
	list-style: none;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 100%;
	padding: 30px;
}

nav ul li a:hover {
	color: #000;
	background-color: #fff
}

.scroll-box {
	width: 80%;
	height: 400px;
	margin: 10px auto;
}

.wrapper {
	width: 80%;
	margin: 10px auto;
	overflow: hidden;
}

.service-link {
	width: 20%;
	margin: 10px 2.5%;
	float: left;
}

.service-link  img{
	width: 100%;
}

.service-link  p{
	text-align: center;
}

.wrapper  h2{
	font-size: 40px;
	font-weight: 100%;
	text-align: center;
	padding-top: 10px;
}

.wrapper  p{
	text-align: center;
	padding: 20px 20px;;
}

.scroll-box  img{
	width: 100%;
	height: 400px;
}

.footer-box {
	width: 100%;
	height: 50px;
	background-color: gray;
}

.footer-box ul {
	float: left;
	margin: 15px;
}

.footer-box ul li {
	float: left;
	list-style: none;
}

.footer-box ul li a{
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
}

.footer-box ul li a:hover {
	color: #000;
	text-decoration: underline;
}

.footer-box p {
	float: right;
	margin: 15px;
}